body {
    background-color: #FFD839;
    margin: 0;
}

h1,
h2,
p {
    text-align: center;
}

ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    border: 2px solid black;
}

.header,
.mainContent {
    margin: 20px 15px 0 15px;
    padding: 20px;
    border: 2px solid #05003C;
}

.header {
    background-color: #00003C;
    background-image: url("Images/Blue_Chevron2.JPG") !important;
}

.nav {
    text-align: right;
}

.textOnDesign {
    text-shadow: -1px -1px white, 1px -1px white, -1px 1px white, 1px 1px white, -2px -2px black, 2px -2px black, -2px 2px black, 2px 2px black;
    text-align: left;
}

a:link {
    color: #241088;
    text-shadow: -1px -1px white, 1px -1px white, -1px 1px white, 1px 1px white,
}

a:visited {
    color: #9B7C00;
}

a:hover {
    color: #FFE063;
}

a:active {
    color: #0000FF;
}

.webName {
    background-color: #FFD839;
}

.mainContent {
    background-color: white;
}